@model WebApplicationlaptop.Models.ReviewModel

<h3>Write Your Review</h3>
<form asp-action="Create" asp-controller="Review" method="post">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
   
    <button type="submit">Submit</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
