<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Home | E-Shopper</title>
	<link href="~/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/css/Slider.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

	<link href="~/css/prettyPhoto.css" rel="stylesheet">
	<link href="~/css/price-range.css" rel="stylesheet">
	<link href="~/css/animate.css" rel="stylesheet">
	<link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

	<!-- Bootstrap JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link href="~/css/new.css" rel="stylesheet" asp-append-version="true">
	<link href="~/css/main.css" rel="stylesheet" asp-append-version="true">
	<link href="~/css/responsive.css" rel="stylesheet">
	<style>
* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;
	
.mySlides {display: none;}
img {vertical-align: middle;}

</style>

	<!--[if lt IE 9]>
	<script src="js/html5shiv.js"></script>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<link rel="shortcut icon" href="images/ico/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
	<style>
		.header_top, .footer-bottom {
			background-color: black;
			padding: 15px 0;
			
		}

		.backround{
			background-image: url("https://nhathauxaydung24h.com/wp-content/uploads/2021/05/background-den-4.jpg");
		}
		</style>
</head><!--/head-->

<body >

	<header id="header">
		<!--header-->
		<div class="header_top">
			<!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo" >
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +0385903634</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> Longdd221@uef.edu.vn</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="https://www.facebook.com/long.du.338658"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>

				</div>
			</div>
		</div><!--/header_top-->
	<div>
		<footer id="footer">
			
		<div class="footer-widget">
			<div class="container">
				<div class="row">
					<div class="col-sm-2">
						<div class="single-widget">

							<img src="~/Images/logo.png" alt="LQD" style="width: 100px; height: auto;" /></a>
							<h5>LongQuanDinh</h5>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">



							


								<partial name="_LoginPartial" />


							</ul>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
		
		<div class="header-bottom">
			<!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								
								<div class="menu-wrapper menu-gold">
									<ul class="menu">
										<li><a asp-controller="Home"  asp-action="index"> Home</a></li>
										
										<li>
											<a> Sản Phẩm </a>
											<ul>
												
												<li>
													<a href="">Danh mục và Thương Hiệu</a>
													<ul>
														<li>
															<a href=""> Danh Mục sản phẩm  </a>
															<ul>
																@Html.Partial("_Silebarpartial2")
															</ul>
														</li>
														<li>
															<a href=""> Thương hiệu sản phẩm</a>
															<ul>
																@Html.Partial("_Silebarpartial3")
															</ul>
														</li>
														
													</ul>
												</li>
											</ul>
										</li>
										<li><a asp-controller="Cart" asp-action="Index"><i class="fa fa-shopping-cart"></i> Cart</a></li>

										<li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
										
										<li><a asp-controller="AboutUs" asp-action="Index">About Us</a></li>


										
									</ul>
								</div>

								
								
							</ul>
						</div>
					
					</div>
					
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
	<section id="slider">
		<!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
						</ol>

						<div class="carousel-inner">
							<div class="item active">
								<div class="col-sm-12">
									<img src="https://nhatkhanhtech.com/wp-content/uploads/2019/10/Banner-gaming_laptops.jpg"  height="450px" width="100%" />
								</div>
								
							</div>
							<div class="item">
								<div class="col-sm-12">
										<img src="https://cdn.tgdd.vn/Files/2023/02/13/1509524/pre-orderrogstrixscar1618-130223-213012-800-resize.jpg"  height="450px" width="100%"/>
								</div>
					
							</div>

							<div class="item">
								<div class="col-sm-12">
									<img src="https://laptopaz.vn/media/news/0305_laptopaz-banner-top4-laptop-gaming.jpg"  height="450px" width="100%" />
								</div>
								<div class="col-sm-6">
									<img src="images/home/girl3.jpg" class="girl img-responsive" alt="" />
									<img src="images/home/pricing.png" class="pricing" alt="" />
								</div>
							</div>

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->
	<br>

	<div style="text-align:center">
		<span class="dot" onclick="currentSlide(1)"></span>
		<span class="dot" onclick="currentSlide(2)"></span>
		<span class="dot" onclick="currentSlide(3)"></span>
	</div>

	<script>
		let slideIndex = 1;
		showSlides(slideIndex);

		function plusSlides(n) {
			showSlides(slideIndex += n);
		}

		function currentSlide(n) {
			showSlides(slideIndex = n);
		}

		function showSlides(n) {
			let i;
			let slides = document.getElementsByClassName("mySlides");
			let dots = document.getElementsByClassName("dot");
			if (n > slides.length) { slideIndex = 1 }
			if (n < 1) { slideIndex = slides.length }
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex - 1].style.display = "block";
			dots[slideIndex - 1].className += " active";
		}
	</script>


	<section>
		<div class="container">
			<div class="row">
				@RenderBody()
			</div>
		</div>
	</section>
	
		<footer id="footer">
			<!--Footer-->
			

			<div class="footer-widget">
				<div class="container">
					<div class="row">
						<div class="col-sm-2">
							<div class="single-widget">
							
							<img src="~/Images/logo.png" alt="LQD" style="width: 100px; height: auto;" /></a>
							<h5>LongQuanDinh</h5>
							</div>
						</div>
						
						<div class="col-sm-6">
							<div class="single-widget">
								<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li>
									<a href="https://maps.app.goo.gl/ibo3XRrZGk84MGcy8" target="_blank">
										View Store Location on Google Maps
									</a>
								</li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Affiliate Program</a></li>
								<li><a href="#">Copyright</a></li>
							</ul>

							</div>
						</div>
						<div class="col-sm-3 col-sm-offset-1">
							<div class="single-widget">
								<h2>About Cart</h2>
								<form action="#" class="searchform">
									
										<img src="~/Images/payment.png" class="img-fluid" alt="">
								</form>
							</div>
						</div>

					</div>
				</div>
			</div>

			<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +0385903634</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> Longdd221@uef.edu.vn</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			</dic>

		</footer><!--/Footer-->



	<script src="~/js/jquery.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/jquery.scrollUp.min.js"></script>
	<script src="~/js/price-range.js"></script>
	<script src="~/js/jquery.prettyPhoto.js"></script>
	<script src="~/js/main.js"></script>
	<script>
		$(document).ready(function () {
			var slider = new Slider('#sl2', {
				formatter: function (value) {
					return 'Giá: ' + value[0] + ' VND - ' + value[1] + ' VND';
				},
				min: 0,
				max: 200000000,
				step: 1000000,
				value: [0, 200000000]
			});

			// Xử lý sự kiện khi thanh trượt thay đổi
			slider.on('change', function (value) {
				$('#minPrice').val(value.newValue[0]);
				$('#maxPrice').val(value.newValue[1]);
				submitFilterForm(); // Gọi hàm gửi yêu cầu khi giá trị thanh trượt thay đổi
			});

			// Gửi yêu cầu tìm kiếm khi form được submit (thực hiện bằng AJAX)
			$('#filterForm').submit(function (event) {
				event.preventDefault(); // Ngăn chặn form submit mặc định
				submitFilterForm();
			});

			// Hàm gửi yêu cầu tìm kiếm qua AJAX
			function submitFilterForm() {
				var searchString = $('#searchString').val();
				var minPrice = $('#minPrice').val();
				var maxPrice = $('#maxPrice').val();

				$.ajax({
					url: '@Url.Action("Index", "Home")', // Đường dẫn đến action xử lý
					type: 'GET',
					data: {
						searchString: searchString,
						minPrice: minPrice,
						maxPrice: maxPrice
					},
					success: function (response) {
						$('#productList').html(response); // Cập nhật danh sách sản phẩm
					},
					error: function (xhr, status, error) {
						console.log('Error:', error);
					}
				});
			}
		});
	</script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>