@page
@model LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<h2>@ViewData["Title"]</h2>
<script>
    window.onload = function() {
        document.getElementById('logoutForm').submit();
    };
</script> 

<form id="logoutForm" method="post" asp-page-handler="Logout">
    <input type="hidden" name="returnUrl" value="@Url.Page("/", new { area = "" })" />
</form>
