@using WebApplicationlaptop.Responsibilty
<div class="left-sidebar">
	<h2>Category</h2>
	<div class="panel-group category-products" id="accordian"><!--category-productsr-->
		
		
	
		
		@await Component.InvokeAsync("Categories")
		
		
		
		
		
		
	</div><!--/category-products-->
	<h2>Brands</h2>
	<div class="panel-group category-products" id="accordian"><!--brands_products-->
		
		@await Component.InvokeAsync("Brands")
		
		
		
		
	</div><!--/<!--brands_products-->
	

	

</div>