@model IEnumerable<WebApplicationlaptop.Models.SliderModel>

<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <li data-target="#slider-carousel" data-slide-to="@i" class="@(i == 0 ? "active" : "")"></li>
                        }
                    </ol>

                    <div class="carousel-inner">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            var slider = Model.ElementAt(i);
                            <div class="item @(i == 0 ? "active" : "")">
                                <div class="col-sm-12">
                                    <img src="~/images/@slider.Image" height="450px" width="100%" alt="@slider.Name" />
                                </div>
                            </div>
                        }
                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>