* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #5a5a5a;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
}
/* REUSE ABLE*/
.btn {
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: #002A5A;
    background-color: #A6C8EA;
    padding: 10px 30px;
    border-radius: 20px;
    margin: 0 5px;
    display: inline-block;
    text-align: center;
    width: 190px;
    transition: all 2s;
}

    .btn:hover,
    .btn:active {
        background-color: #7AB2E1;
    }

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

h1 {
    text-transform: capitalize;
    font-size: 300%;
    font-weight: 400;
    word-spacing: 5px;
    color: white;
    margin-bottom: 50px;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: orange;
    font-size: 180%;
    font-weight: 700;
    text-align: center;
}

    h2:after {
        content: " ";
        display: block;
        width: 150px;
        height: 3px;
        background-color: rgb(230, 126, 34,0.5);
        margin: 0 auto;
    }

.p-long {
    text-align: center;
    color: #265077;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
}

section {
    padding: 50px;
}

h3 {
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #265077;
    color: white;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: 15px;
}

.small-icon {
    color: #0c0aa3;
    font-size: 130%;
    margin-right: 10px;
}

roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}

roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
/*---------------------*/
/*HEADER*/
header {
    background-image: linear-gradient(45deg,rgb(2,33,64,0.8) 55%,rgb(45,95,93,0.85)),url("../img/background4.jpeg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

.logo {
    width: 350px;
    float: left;
    margin-left: 70px;
    margin-top: -50px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
    margin-right: 50px;
}

    .main-nav li {
        display: inline-block;
        margin-right: 50px;
    }

        .main-nav li a {
            text-decoration: none;
            color: white;
            font-size: 110%;
            font-weight: 700;
            transition: border-bottom 0.5s;
            padding: 3px 0;
        }

            .main-nav li a:hover,
            .main-nav li a:active {
                border-bottom: 2px solid white;
            }


.heading-main-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%,-55%);
    width: 1140px;
}
/*Sticky*/
.sticky {
    background-color: rgba(2, 33, 64, .9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100px;
}

    .sticky.logo {
        width: 250px;
        margin-top: -40px;
    }

    .sticky.main-nav {
        margin-top: 30px;
    }
/*Mobile*/
/*SECTION*/
.about-picture img {
    width: 90%;
    border-radius: 20px;
    border: 4px solid #c5e1fc;
    box-shadow: 0px 5px 15px 5px #265077;
    /*x-y-độ mờ-độ phóng rộng-màu */
    /* filter:brightness(55%) blur(2px); */
    transition: all .5s;
}

.about-picture {
    position: relative;
    margin-top: 50px;
}

.picture-title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #c5e1fc;
    transform: translate(-65%,100%);
    opacity: 0;
    transition: all .5s;
}

.about-picture:hover img,
.about-picture:active img {
    filter: brightness(55%) blur(2px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title {
    transform: translate(-65%, -50%);
    opacity: 1;
}
/* Product*/
.product-section {
    background-color: #F4f4f4f4;
}

    .product-section h2 {
        margin-bottom: 60px;
    }

.product-box {
    background-color: #eeefff;
    box-shadow: 3px 5px 10px #e0e0e0e0;
    width: 90%;
    height: 350px;
}

.product-price {
    color: #265077;
    font-size: 250%;
    font-weight: 350;
    text-align: center;
}

    .product-price span {
        font-size: 80%;
    }

.product-box ul li {
    font-size: 20px;
    margin-left: 20%;
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-box .btn {
    margin-left: 20%;
}
/*Temonials*/
.testimonials-section {
    background-image: linear-gradient(45deg,rgb(2,33,64,0.8) 55%,rgb(45,95,93,0.85)), url("../img/background2.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

    .testimonials-section h2 {
        margin-bottom: 70px;
    }

blockquote {
    width: 95%;
    position: relative;
    font-style: italic;
    line-height: 140%;
    color: white;
}

cite {
    display: block;
    color: #A6C8EA;
    margin-top: 25px;
}

    cite img {
        height: 50px;
        border-radius: 50%;
        border: 2px solid #265077;
        vertical-align: middle;
        margin-right: 5px;
    }

blockquote::before {
    content: "\201C";
    display: block;
    font-size: 400%;
    position: absolute;
    top: -10px;
    left: -10px;
}
/*Sponsor*/
.sponsors-section {
    background-color: white;
}

    .sponsors-section h2 {
        margin-bottom: 50px;
    }

.sponsor-showcase {
    margin-left: 8%;
}

    .sponsor-showcase li {
        list-style: none;
        float: left;
        width: 30%;
        text-align: center;
        margin-bottom: 20px;
    }

.logo-sponsor {
    width: 140px;
    cursor: pointer;
    transition: all .3s;
}

figcaption {
    color: #265077;
    font-weight: 900;
    font-size: 120%;
    margin-top: 20px;
}

.sponsor-showcase li .logo-sponsor:hover,
.sponsor-showcase li .logo-sponsor:active {
    transform: scale(1.5);
}
/*Contact*/
.contact-section {
    background-image: linear-gradient(45deg,rgb(2,33,64,0.8) 55%,rgb(45,95,93,0.85)), url("../img/background5.jpeg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
/*FOOTER*/
footer {
    text-align: center;
    color: white;
    background-color: #494949;
    padding: 20px
}

.infomation {
    list-style: none;
    color: white;
    line-height: 400%;
    margin-top: 70px;
    word-spacing: 1px;
    font-size: 120%;
}

    .infomation.small-icon:hover,
    .infomation.small-icon:active {
        transform: scale(1.5);
    }

.social-icon {
    margin-top: 5px;
    list-style: none;
}

    .social-icon li {
        display: inline-block;
        font-size: 400%;
        margin-left: 20px;
        color: white;
    }

        .social-icon li i {
            transition: all .3s;
            cursor: pointer;
        }

            .social-icon li i:hover,
            .social-icon li i:active {
                transform: scale(1.3);
                color: #002A5A;
            }
/*Form*/
form {
    background-color: rgba(0, 0, 0, .4);
    margin-left: 40%;
    width: 68%;
    padding: 30px;
    margin-bottom: 30px;
}

    form .row {
        margin-bottom: 20px;
    }

label {
    font-size: 150%;
    color: white;
}

input, textarea {
    outline: none;
    padding: 10px;
    background-color: rgba(48, 47, 47, .3);
    border: 1px solid rgba( 70, 68, 68, .7);
    margin-left: 30px;
    cursor: pointer;
    border-radius: 5px;
}

textarea {
    resize: none;
    height: 100px;
}

input {
    height: 50px;
}

form .row:last-child {
    text-align: center;
}

input[type=submit] {
    font-weight: 700;
    font-size: 150%;
    border-radius: 5px;
    width: 70%;
}

input[type=text], input[type=email], textarea {
    width: 80%;
    font-size: 100%;
}

    input[type=text]:focus, input[type=email]:focus, textarea:focus {
        color: white;
        background-color: rgba( 48, 47, 47, .8);
        transition: all .3s;
    }

.imgg {
    width: 70%;
}

.info ul li {
    font-style: none;
}

.location ul li {
    list-style: none;
}

.des ul li {
    list-style: none;
}
@media only screen and (max-width:1200px) {
    html {
        font-size: 16px;
    }

    .heading-main-box {
        transform: translate( -35%,-50%)
    }

    form {
        margin-left: 30%;
    }
}

/* Small tablet to big tablet from 768x to 1023px */
@media only screen and (max-width:1023px) {
    .logo {
        width: 300px;
        margin-left: 40px;
    }

    .main-nav {
        margin-top: 40px;
        margin-right: 15px;
    }

        .main-nav li {
            margin-right: 10px;
        }

    .heading-main-box {
        transform: translate(-20%,-50%)
    }

    .products-section .btn {
        width: 80%;
        margin-left: 10%;
    }

    .product-box {
        width: 95%;
    }

    h3 {
        font-size: 90%;
    }

    .product-box ul li {
        margin-left: 5%;
    }

    .product-box .small-icon {
        margin-right: 5px;
    }

    .social-icons li {
        margin-left: 10px;
    }

    .information i {
        display: block;
    }

    .information li {
        font-size: 14px;
    }
}
